@import "tailwindcss";
@plugin "daisyui";

:root {
  --greenLightColor: #c6e791;
  --greenColor: #799d41;
  --greenSecondColor: #607d32;
  --redLightColor: #ea9799;
  --redColor: #d5282C;
  --redSecondColor: #b22124;
  --orangeLightColor: #f9c8a7;
  --orangeColor: #ea843e;
  --yellowLightColor: #faeaac;
  --yellowColor: #ffde59;
  --grayColor: #494e5f;
  --background: #fffaf6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
