@import "tailwindcss";
@plugin "daisyui";

:root {
  --greenLightColor: #bffe59;
  --greenColor: #79C300;
  --greenButtonColor: #518400;
  --greenSecondColor: #487400;
  --redLightColor: #ff95a3;
  --redColor: #CD001A;
  --redSecondColor: #a40016;
  --orangeLightColor: #ffb87e;
  --orangeColor: #EF6A00;
  --orangeSecondColor: #dc6300;
  --yellowLightColor: #ffec81;
  --yellowColor: #F2CD00;
  --yellowSecondColor: #d4ac0b;
  --blueLightColor: #b0d5fb;
  --blueColor: #1961AE;
  /* --purpleColor: #61007D; */
  --grayLightColor: #e9e9ea;
  --grayMediumColor: #c8c8c8;
  --grayColor: #494e5f;
  --background: #fff7f1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PT Sans", sans-serif;
}

/* Masquer toutes les scrollbars */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}